<!-- <div class="row">
   
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title font-16 text-uppercase">RECENT SALES</h4>
                      
                    </div>
                    <div class="ml-auto">
                        <div class="dl">
                            <select class="form-control">
                                <option value="0" selected>March 2017</option>
                                <option value="1">April 2017</option>
                                <option value="2">May 2017</option>
                                <option value="3">June 2017</option>
                            </select>
                        </div>
                    </div>
                </div>
              

                <div class="table-responsive">
                    <table class="table v-middle nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0">NAME</th>
                                <th class="border-top-0">SATATUS</th>
                                <th class="border-top-0">DATE</th>
                                <th class="border-top-0">PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of tableData'>
                                <td> {{data.id}} </td>
                                <td> {{data.Name}} </td>
                                <td> {{data.Status}} </td>
                                <td> {{data.Date.toDateString()}} </td>
                                <td>
                                    <span *ngIf='data.Price < 0' style="color: #f33155;">$ {{data.Price}} </span>
                                    <span *ngIf='data.Price > 0 && data.Price < 500' style="color: #7ace4c;">$
                                        {{data.Price}} </span>
                                    <span *ngIf='data.Price > 500' style="color: #2cabe3;">$ {{data.Price}} </span>


                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div> -->


<div id="wrapper">
    <div id="users-list">
    <div id="list">
    <h2>Users List (App Component)</h2>
    <div class="container">
    <div class="headers">
    <div>Name</div>
    <div>Age</div>
    <div>Address</div>
    <div>Email</div>
    <div><a>ADD USER</a></div>
    </div>
    <div class="headers">
      <div><input type="text"
        [(ngModel)]="userinput.name" name="name" /></div> 
    <div><input type="text" [(ngModel)]="userinput.age" name="age"/></div>
    <div><input type="text" [(ngModel)]="userinput.address" name="address"/></div>
    <div><input type="text" [(ngModel)]="userinput.email" name="mail"/></div>
    <div><input type="button" value="Save User" (click)="saveUser()" /></div> 
    </div>
    <!-- ngFor="let pizza of pizzas$ | async; index as i" -->
    <div class="item" *ngFor="let user of (localUserList | async).userList;">
    <div>{{user.name}}</div>
    <div>{{user.age}}</div>
    <div>{{user.addres }}</div>
    <div>{{user.email}}</div>
    <div><a href="javascript:void(0);" (click)="deleteUser(user.id)">DELETE</a></div>
    </div>
    </div>
    </div>
    </div>
   
    </div>