<div >
    <div>
       
            
           

                <div class="col-12">
                    <div style="overflow: scroll; width: 1000px; ">
                        <canvas baseChart 
                        
                        [datasets]="lineChartData"
                         [labels]="lineChartLabels"
                                [options]="lineChartOptions" 
                               
                                 [legend]="lineChartLegend"
                                [chartType]="lineChartType">
                            </canvas>
                            <!-- <highcharts-chart
                            [Highcharts] = "Highcharts" 
                            [options] = "chartLazyLoading">
                           
                         </highcharts-chart> -->
                    
                     </div> 
                </div>

            
    </div>
</div>